export AWS_ACCESS_KEY_ID=<<YOUR_HETZNER_S3_ACCESS_KEY>>
export AWS_SECRET_ACCESS_KEY=<<YOUR_HETZNER_S3_SECRET_KEY>>
export DNSIMPLE_TOKEN=<<YOUR_DNSIMPLE_TOKEN>>
export DNSIMPLE_ACCOUNT=<<YOUR_DNSIMPLE_ACCOUNT_ID>>
